{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- <h1>Hello, Welcome to Squib</h1> -->
<div class="row">
    <div class="col-md-4 col-10 mx-auto">
        <form action="{% url 'tweet:create' %}" method="post" class="my-4" id="tweet-create-form">
            {% csrf_token %}
            <div class="d-none" id="tweet-form-error"></div>
            <input type="hidden" name="next" value="/" />
            <textarea class="form-control" name="content" placeholder="How was the day!!!" required></textarea>
            <button class="btn btn-primary mt-2" type="submit">Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
    <!-- here your tweet  -->
</div>
<script>
    const tweetsContainerEl = document.getElementById("tweets")
    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    const tweetFormError = document.getElementById("tweet-form-error")

    // get cookies
    function getCookie(name) {
        let cookieValue = null
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim()
                // console.log(cookie)
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        // console.log(cookieValue)
        return cookieValue

    }

    function handleTweetFormError(msg, display) {
        if (display === true) {
            // show error 
            tweetFormError.setAttribute("class", "d-block alert alert-danger")
            tweetFormError.innerHTML = msg
        } else {
            // hide 
            tweetFormError.setAttribute("class", 'd-none')
        }
    }

    function handleTweetsCreateForm(event) {
        event.preventDefault();
        const myForm = event.target;
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action");
        const method = myForm.getAttribute("method");
        // console.log(url, method);
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", 'XMLHttpRequest')
        xhr.setRequestHeader("X-Requested-With", 'XMLHttpRequest')
        xhr.onload = function () {
            if (xhr.status === 201) {
                const newTweet = xhr.response
                // use JSON.parse or use this
                // const responseType = 'json'
                // xhr.responseType = responseType for showing data on screen
                const newTweetJson = JSON.parse(newTweet)
                const newTweetEl = showContent(newTweetJson)
                const oldHtml = tweetsContainerEl.innerHTML
                tweetsContainerEl.innerHTML = newTweetEl + oldHtml
                myForm.reset()

                // form error handle 
            } else if (xhr.status === 400) {
                const formError = xhr.response
                const errorJson = JSON.parse(formError)
                const contentError = errorJson.content;
                let contentErrorMsg;
                // show error on screen 
                if (contentError) {
                    contentErrorMsg = contentError[0]
                } else {
                    alert("An error occured. Please try again.")
                }
                if (contentErrorMsg) {
                    handleTweetFormError(contentErrorMsg, true)
                } else {
                    alert("A error occured. Please tyr again.")
                }
                // console.log(contentErrorMsg)

            } else if (xhr.status === 401) {
                alert("You must Login")
                window.location.href = "/login"

            } else if (xhr.status === 403) {
                alert("You must Login")
                window.location.href = "/login"

            } else if (xhr.status === 500) {
                alert("There was a server error. Please Try again later.")
            }
        }
        xhr.onerror = function () {
            alert("A Error occured. Please try again.")
        }
        xhr.send(myFormData)
    }

    tweetCreateFormEl.addEventListener("submit", handleTweetsCreateForm);

    function handleTweetActions(tweetId, currentLike, action) {
        console.log(tweetId, currentLike)
        const url = "{% url 'tweet:action' %}";
        const method = "POST"
        const data = JSON.stringify({
            id: tweetId,
            action: action
        })
        // getcookie
        const csrftoken = getCookie('csrftoken');
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.setRequestHeader("X-CSRFToken", csrftoken)

        xhr.onload = function () {
            // console.log(xhr.status, xhr.response)
            loadTweets(tweetsContainerEl)

        }
        xhr.send(data)
        return
    }

    function reTweet(tweet) {
        return "<button class='btn btn-success' onclick=handleTweetActions(" + tweet.id + "," + tweet.likes + ",'retweet'" + ")> Retweet</button>"
    }
    function unlikeBtn(tweet) {
        return "<button class='btn btn-danger' onclick=handleTweetActions(" + tweet.id + "," + tweet.likes + ",'unlike'" + ")> Unlike</button>"
    }

    function likeBtn(tweet) {
        return "<button class='btn btn-primary' onclick=handleTweetActions(" + tweet.id + "," + tweet.likes + ",'like'" + ")>" + tweet.likes + " Like</button>"
    }

    function showContent(tweet) {
        let content = "<div class='col-12 col-md-10 mx-auto mb-4 border rounded py-3' id='tweet-" + tweet.id + "'><p >" + tweet.content +
            "</p><div class='btn-group'>"+
             likeBtn(tweet) +
             unlikeBtn(tweet) +
             reTweet(tweet) +
            "</div></div>"
        return content
    }

    function loadTweets(tweetsElement) {
        const xhr = new XMLHttpRequest()
        const method = 'GET'
        const url = "api/tweets"
        const responseType = 'json'
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function () {
            const serverResponse = xhr.response
            var listedItems = serverResponse
            // var listedItems = serverResponse.response
            let finalContent = ""
            // tweetsElement.innerHTML = listedItems  
            for (item in listedItems) {
                finalContent += showContent(listedItems[item])
            }
            // console.log(listedItems)
            tweetsElement.innerHTML = finalContent
        }
        xhr.send()
    }

    loadTweets(tweetsContainerEl)


</script>
{% endblock %}