__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.swp
*.swo
*.git
*.vscode
.env
.DS_Store

*.venv
*.pyenv
node_modules
npm-debug.log
yarn-error.log
*.npm
*.lock

*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/
*.coverage
.coverage
htmlcov/
.coverage.xml
.tox/
.pytest_cache/
.vscode/
.reame.md