<nav class="w-1/4 bg-gray-800 text-white">
  <!-- Logo  -->
  <div class="p-4 cursor-pointer">
    <a class="text-xl font-bold" href="#">Squib</a>
  </div>
  <!-- Navigation items  -->
  <div>
    <ul class="py-4 ">
      <li class="pl-4 py-2">
        <a class="" aria-current="page" href="#">Home</a>
      </li>
      <li class="pl-4 py-2">
        <!-- Setting -->
        <div class="relative">
          <span class="flex items-center cursor-pointer">
            Settings
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M8 1a1 1 0 00-.707.293l-3 3a1 1 0 000 1.414l8 8a1 1 0 001.414 0l3-3A1 1 0 0017 9V3a1 1 0 00-1-1H8zm1 10a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd" />
            </svg>
          </span>
          <!-- dropdown content  -->
          <ul class="absolute bg-gray-600 rounded mt-2 py-2 hidden">
            <li class="pl-4 py-2">Profile</li>
            <li class="pl-4 py-2">Logout</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>